.col-8
{
	border: 1px solid black;
	height: 900px;
	margin: 1% 19%;
}

.col-4
{
	/*border: 1px solid green;*/
	height: 900px;
	margin-left: -1.5%;
	width: 300px;
	background-color: #5499C7;
}

.dot
{
  	height: 170px;
  	width: 170px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	margin: 10% 18%;
}

.lining
{
	border: 0.5px solid white;
}

.p-info
{
	border: 1px solid white;
	height: 200px;
	width: 269px;
}

.fa-map-marker
{
	margin: 3% 5%;
}

.fa-envelope-o
{
	margin: 3% 5%;
}

.fa-phone
{
	margin: 3% 5%;
}